@use '../base/index' as base;
@use '../utilities/utilities' as utils;

/* Section Background */
.sectionbgshape {
	position: absolute;
	top: 0;
	left: 0;
	background: base.$PrimaryColor;
	border-radius: 50%;
	height: 300px;
	width: 300px;
	filter: blur(100px);
	-webkit-filter: blur(100px);
    z-index: -1;
}

/* Section Top & Bottom */
.shape__1 {
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 50px));
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background: base.$white;
}

.shape__2 {
    clip-path: polygon(0 0,100% 50px,100% 100%,0 100%);
    margin-top: -40px;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: base.$white;
}