@use '../base/index' as base;
@use '../utilities/index' as utils;

//Button 1
.button__one {
    all: unset;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(base.$black, base.$cream);
    background: base.$black;
    color: base.$cream;
    cursor: pointer;
    font-family: 'Anonymous Pro', monospace;
    @include base.large__text;
    font-weight: 700;
    line-height: 100% !important;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    border-radius: 999px;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    @include utils.transition-03s;

    &:disabled {
        cursor: default;
    }
    
    &:-moz-focusring {
        outline: auto;
    }

    svg {
        display: block;
        vertical-align: middle;
    }

    span {
        mix-blend-mode: difference;
    }

    &:hover {
        color: base.$black;
    }

    &:before {
        aspect-ratio: 1;
        background: base.$SecondaryColor;
        border-radius: 50%;
        content: "";
        height: 0;
        left: 50%;
        position: absolute;
        top: -200%;
        transform: translateX(-50%);
        transition: height 0.3s;
        z-index: -10;
    }

    &:hover:before {
        height: 400%;
    }
}

.button__one [hidden] {
  display: none;
}

//Button 2
.button__two {
    all: unset;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(base.$black, base.$cream);
    background: base.$black;
    color: base.$cream;
    cursor: pointer;
    font-family: 'Anonymous Pro', monospace;
    @include base.large__text;
    font-weight: 700;
    line-height: 100% !important;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    @include utils.transition-03s;

    &:disabled {
        cursor: default;
    }
    
    &:-moz-focusring {
        outline: auto;
    }

    svg {
        display: block;
        vertical-align: middle;
    }

    span {
        mix-blend-mode: difference;
    }

    &:hover {
        color: base.$black;
    }

    &:before {
        aspect-ratio: 1;
        background: base.$SecondaryColor;
        content: "";
        height: 0;
        left: 50%;
        position: absolute;
        top: -200%;
        transform: translateX(-50%);
        transition: height 0.6s;
        z-index: -10;
    }

    &:hover:before {
        height: 400%;
    }
}

.button__two [hidden] {
  display: none;
}

//Button 3
.button__three {
    all: unset;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(base.$black, base.$cream);
    background: base.$cream;
    color: base.$black;
    cursor: pointer;
    font-family: 'Anonymous Pro', monospace;
    @include base.large__text;
    font-weight: 700;
    line-height: 100% !important;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    box-sizing: border-box;
    border: 1px solid base.$black;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    @include utils.transition-03s;

    &:disabled {
        cursor: default;
    }
    
    &:-moz-focusring {
        outline: auto;
    }

    svg {
        display: block;
        vertical-align: middle;
    }

    span {
        mix-blend-mode: difference;
    }

    &:hover {
        color: base.$black;
    }

    &:before {
        aspect-ratio: 1;
        background: base.$SecondaryColor;
        content: "";
        height: 0;
        left: 50%;
        position: absolute;
        top: -200%;
        transform: translateX(-50%);
        transition: height 0.6s;
        z-index: -10;
    }

    &:hover:before {
        height: 400%;
    }
}

.button__three [hidden] {
  display: none;
}