@use './mixin' as utils;

/* Scale Animation */
.scale__anim__hide {
    opacity: 0;
    scale: 0.5;
    transition: 2s;
}

@media(prefers-reduced-motion) {
    .scale__anim__hide {
        transition: none;
    }
}

.scale__anim {
    opacity: 1;
    scale: 1;
}

/* Blur Aimation */
.blur__anim__hide {
    opacity: 0;
    filter: blur(8px);
    @include utils.transition-06s;
}

@media(prefers-reduced-motion) {
    .blur__anim__hide {
        transition: none;
    }
}

.blur__anim {
    opacity: 1;
    filter: blur(0);
}

/* Slide In */
.slidein__anim__hide {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: 1s;
}

@media(prefers-reduced-motion) {
    .slidein__anim__hide {
        transition: none;
    }
}

.slidein__anim {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*** Start of Testimonials Section Anim ***/
/* Slide Top to Bottom */
@keyframes scrolltoTop {
    to {
      top: -250px;
    }
}

/* Slide Bottom to Top */
@keyframes scrolltoBottom {
    to {
      bottom: -250px;
    }
}
/*** End of Testimonials Section Anim ***/

/* Top to Bottom Anim */
@keyframes ToptoBottomAnim {
    0% {
        transform: translateY(0) translateX(40%);
    }
    50% {
        transform: translateY(100%) translateX(0);
    }
    100% {
        transform: translateY(0) translateX(40%);
    }
}

/* Bottom to Top Anim */
@keyframes BottomtoTopAnim {
    0% {
        transform: translateY(100%) translateX(0);
    }
    50% {
        transform: translateY(0) translateX(40%);
    }
    100% {
        transform: translateY(100%) translateX(0);
    }
}