/* Scale Animation */
.scale__anim__hide {
    opacity: 0;
    scale: 0.5;
    transition: 2s;
}

@media(prefers-reduced-motion) {
    .scale__anim__hide {
        transition: none;
    }
}

.scale__anim {
    opacity: 1;
    scale: 1;
}

/* Blur Aimation */
.blur__anim__hide {
    opacity: 0;
    filter: blur(8px);
    transition: 0.6s;
}

@media(prefers-reduced-motion) {
    .blur__anim__hide {
        transition: none;
    }
}

.blur__anim {
    opacity: 1;
    filter: blur(0);
}