@use '../base/index' as base;

.sb__footer__section {
    background: base.$cream;

    .sb__logo {
        margin-bottom: 10px;
    }
    .footer__widgets {
        h6 {
            text-transform: capitalize;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                text-transform: capitalize;
                margin-bottom: 10px;

                a {
                    display: block;
                    color: base.$black;

                    &:hover {
                        color: base.$SecondaryColor;
                    }
                }
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;

        .left, .right {
            width: 50%;
        }

        span, a {
            @include base.medium__text;
        }

        .right a {
            text-align: right;
            display: block;
        }
    }
}

@media (max-width: 414px) {
    .sb__footer__section .bottom {
        flex-direction: column;

        .left, .right {
            width: 100%;
        }

        span, .right a {
            text-align: center;
        }
    }
}