@use './base/index' as base;
@use './components/index' as comps;
@use './utilities/index' as utils;
@forward './layouts/index';

/* Global */
html {
    scroll-behavior: smooth;
}

span {
    display: block;
}

section {
    margin-top: 120px;
}

/*** Start of Hero Section ***/
.sib__hero__section {
    height: 750px;
    margin-top: 0;

    .container,.row {
        height: 100%;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-transform: uppercase;
        height: 100%;

        h3 {
            font-size: 50px;
            line-height: 130%;
            margin-bottom: 20px;
        }

        h1 {
            position: relative;
            font-size: 136px;
            line-height: 100%;
            font-weight: 700;

            &::before {
                position: absolute;
                top: -20px;
                right: -20px;
                content: '';
                display: block;
                height: 100px;
                width: 100px;
                background: base.$SecondaryColor;
                border-radius: 50%;
                z-index: -1;
            }
        }

        .cta__buttons {
            display: flex;
            gap: 40px;
            margin-top: 50px;
        }
    }

    .image {
        width: 100%;
        display: flex;
        align-items: flex-end;
        height: 100%;
        
        img {
            width: 100%;
            height: auto;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}
/*** End  of Hero Section ***/

/*** Start of About Me Section ***/
.sib__aboutme__section {
    z-index: 1;

    .sectionbgshape.one {
        top: unset;
        bottom: -10%;
    }

    .sectionbgshape.two {
        left: unset;
        right: 0;
        top: -10%;
        background: base.$SecondaryColor;
    }

    .wrapper {
        .about__me span {
            @include base.large__text;
            margin-bottom: 20px;
        }
        .info {
            position: sticky;
            top: 0;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 40px;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                width: 60%;

                .number {
                    display: flex;
                    align-items: flex-end;
                    font-size: 60px;
                    line-height: 100%;
                    font-weight: 700;
                    gap: 5px;
                    font-family: 'Anonymous Pro';

                    span {
                        font-size: 50px;
                        line-height: 100%;
                        font-family: 'Anonymous Pro';
                    }
                }

                span {
                    @include base.large__text;
                    font-weight: 700;
                    margin-bottom: 0;
                    font-family: 'Anonymous Pro';
                }
            }
        }
    }
}
/*** End of About Me Section ***/


/*** Start of Skills Section Section ***/
.sib__skills__section {
    background: base.$cream;
    padding: 100px 0;
    position: relative;
    z-index: 0;
    overflow: hidden;

    .sectionbgshape {
        left: unset;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #58C4DC;
    }

    .wrapper {
        display: flex;
        gap: 20px;
        height: 100%;
        flex-wrap: wrap;

        .skill__item {
            flex: 1 1 calc(33.33% - 20px);
            background: base.$white;
            padding: 20px;
            box-sizing: border-box;
            position: relative;
            transform-style: preserve-3d;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                inset: 0px;
                background: conic-gradient(from 90deg at 40% -40%, base.$PrimaryColor, base.$SecondaryColor);
                filter: blur(10px);
                transform: translate3d(0px, 0px, -1px);
                border-radius: inherit;
                opacity: 0;
                @include utils.transition-03s;
            }

            &:hover::before {
                opacity: 1;
            }

            .icon {
                font-size: 40px;
                color: base.$black;
                margin-bottom: 10px;
            }

            &:hover .icon {
                color: base.$PrimaryColor;

                .fa-sass {
                    color: #CF649A;
                }

                .fa-react {
                    color: #58C4DC;
                }

                .fa-wordpress-simple {
                    color: #444140;
                }

                .fa-shopify {
                    color: #98C14C;
                }
            }

            h4 {
                line-height: 130%;
            }

            p {
                color: #777;
            }
        }
    }
}

@media (min-width: 1600px) {
    .sib__skills__section .sectionbgshape {
        height: 400px;
        width: 400px;
        right: -5%;
    }
}
/*** End of Skills Section Section ***/

/*** Start of Portfolio Section ***/
.sib__portfolio__section .sib__portfolio__item {
    width: 100%;
    aspect-ratio: 3 / 2.37;
    position: relative;
    border: 1px solid #EEE;
    @include utils.transition-03s;
    transform-style: preserve-3d;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        inset: 0px;
        background: conic-gradient(from 90deg at 40% -40%, base.$PrimaryColor, base.$SecondaryColor);
        filter: blur(10px);
        transform: translate3d(0px, 0px, -1px);
        border-radius: inherit;
        opacity: 0;
        @include utils.transition-03s;
        z-index: -1;
    }

    &:hover::before {
        opacity: 1;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .holder {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        overflow: hidden;

        .content {
            @include utils.transition-06s;
            position: absolute;
            bottom: -100%;
            left: 0;
            z-index: 0;
            background: linear-gradient(0deg, rgba($color: base.$PrimaryColor, $alpha: 0.8) 50%, rgba(0,0,0,0) 100%);
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 20px;
            gap: 10px;

            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin-bottom: 0;

                span {
                    @include base.small__text;
                    padding: 4px 12px;
                    color: base.$black;
                    border: 1px solid base.$black;
                    background: base.$cream;
                }
            }

            .title {
                color: base.$cream;
                line-height: 120%;
                margin-bottom: 0;
                text-transform: capitalize;
            }

            .specs {
                @include base.small__text;
                color: base.$cream;
                margin-bottom: 0;
            }

            .cta__btns {
                display: flex;
                gap: 20px;

                .button__two {
                    font-size: 14px;
                    padding: 12px 22px;
                }
            }
        }
    }

    &:hover .holder .content {
        bottom: 0;
    }
}
/*** End of Portfolio Section ***/

/*** Start of a Section ***/
/*** End of a Section ***/

/*** Start of a Section ***/
/*** End of a Section ***/