@media (min-width: 290px) and (max-width: 414px) {
    section {
        margin-top: 20px;
    }
    .sib__section__title {
        margin-bottom: 15px;
        h2 {
            font-size: 34px;
            line-height: 50px;
        }
    }
    /*Logo*/
    .sb__logo {
        width: 120px;
    }
    /*Header*/
    .sb__header {
        padding: 10px;
        .wrapper {
            width: 90%;
            padding: 30px;
            padding-top: 60px;
            nav a {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    /*Button*/
    .button__one,
    .button__two,
    .button__three {
        padding: 0.625rem 1.5rem;
    }
    /*Hero Section*/
    .sib__hero__section {
        height: auto;
        .content {
            padding-top: 30px;
            h3 {
                font-size: 20px;
                line-height: 120%;
                margin-bottom: 14px;
            }
            h1 {
                font-size: 48px;
                &::before {
                    top: -15px;
                    right: 0;
                    height: 50px;
                    width: 50px;
                }
            }
            .cta__buttons {
                margin-top: 20px;
                gap: 20px;
            }
        }
        .image {
            margin-top: 20px;
        }
    }
    /*About Me Section*/
    .sib__aboutme__section {
        .sectionbgshape.one {
            height: 220px;
            width: 220px;
        }
        .sectionbgshape.two {
            top: 0;
            height: 160px;
            width: 160px;
        }
        .wrapper .info {
            gap: 18px;
            flex-direction: row;
            justify-content: center;
            .item {
                width: 100%;
                gap: 5px;
                .number {
                    font-size: 40px;
                    span {
                        font-size: 35px;
                    }
                }
            }
        }
    }
    /*Skills Section*/
    .sib__skills__section {
        padding: 40px 0;
        .wrapper {
            flex-direction: column;
        }
    }
}

@media (min-width: 415px) and (max-width: 575px) {
    section {
        margin-top: 40px;
    }
    .sib__section__title {
        margin-bottom: 20px;
    }
    /*Logo*/
    .sb__logo {
        width: 120px;
    }
    /*Header*/
    .sb__header {
        padding: 10px;
        .wrapper {
            padding-top: 60px;
        }
    }
    /*Hero Section*/
    .sib__hero__section {
        height: auto;
        .content {
            padding-top: 30px;
            h3 {
                font-size: 24px;
                line-height: 120%;
                margin-bottom: 14px;
            }
            h1 {
                font-size: 66px;
                &::before {
                    top: -15px;
                    right: 0;
                    height: 60px;
                    width: 60px;
                }
            }
            .cta__buttons {
                margin-top: 25px;
                gap: 20px;
            }
        }
        .image {
            height: 400px;
            justify-content: center;
            margin-top: 30px;
            img {
                height: 100%;
                width: auto;
            }
        }
    }
    /*About Me Section*/
    .sib__aboutme__section {
        .sectionbgshape.one {
            height: 240px;
            width: 240px;
        }
        .sectionbgshape.two {
            top: 0;
            height: 180px;
            width: 180px;
        }
        .wrapper .info {
            gap: 15px;
            flex-direction: row;
            justify-content: center;
            .item {
                width: 47%;
                .number {
                    font-size: 40px;
                    span {
                        font-size: 35px;
                    }
                }
            }
        }
    }

    /*Skills Section*/
    .sib__skills__section {
        padding: 50px 0;
        .wrapper {
            flex-direction: column;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    section {
        margin-top: 60px;
    }
    .sib__section__title {
        margin-bottom: 25px;
    }
    /*Logo*/
    .sb__logo {
        width: 150px;
    }
    /*Hero Section*/
    .sib__hero__section {
        height: auto;
        .content {
            padding-top: 30px;
            h3 {
                font-size: 24px;
                line-height: 110%;
                margin-bottom: 14px;
            }
            h1 {
                font-size: 66px;
                line-height: 110%;
                &::before {
                    top: 40px;
                    right: -15px;
                    height: 80px;
                    width: 80px;
                }
            }
            .cta__buttons {
                margin-top: 25px;
                gap: 30px;
            }
        }
        .image {
            height: 400px;
            justify-content: center;
            margin-top: 30px;
            img {
                height: 100%;
                width: auto;
            }
        }
    }
    /*About Me Section*/
    .sib__aboutme__section {
        .sectionbgshape.one {
            height: 240px;
            width: 240px;
        }
        .sectionbgshape.two {
            top: 0;
            height: 200px;
            width: 200px;
        }
        .wrapper .info {
            gap: 18px;
            flex-direction: row;
            .item {
                width: 31%;
                .number {
                    font-size: 45px;
                    span {
                        font-size: 40px;
                    }
                }
            }
        }
    }
    /*Skills Section*/
    .sib__skills__section {
        padding: 60px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section {
        margin-top: 80px;
    }
    /*Logo*/
    .sb__logo {
        width: 150px;
    }
    /*Hero Section*/
    .sib__hero__section {
        height: 400px;
        .content {
            h3 {
                font-size: 26px;
                line-height: 115%;
                margin-bottom: 14px;
            }
            h1 {
                font-size: 72px;
                &::before {
                    top: -10px;
                    right: -10px;
                    height: 60px;
                    width: 60px;
                }
            }
            .cta__buttons {
                margin-top: 25px;
                gap: 30px;
            }
        }
    }
    /*About Me Section*/
    .sib__aboutme__section {
        .sectionbgshape.one {
            height: 280px;
            width: 280px;
        }
        .sectionbgshape.two {
            top: 0;
            height: 240px;
            width: 240px;
        }
        .wrapper .info .item {
            width: 100%;
        }
    }
    /*Skills Section*/
    .sib__skills__section {
        padding: 70px 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    section {
        margin-top: 90px;
    }
    /*Header*/
    .sb__header .wrapper,
    .sb__header .wrapper nav {
        gap: 40px;
    }
    /*Hero Section*/
    .sib__hero__section {
        height: 520px;
        .content {
            h3 {
                font-size: 36px;
                line-height: 120%;
                margin-bottom: 16px;
            }
            h1 {
                font-size: 98px;
                &::before {
                    top: -15px;
                    right: -15px;
                    height: 80px;
                    width: 80px;
                }
            }
            .cta__buttons {
                margin-top: 30px;
                gap: 30px;
            }
        }
    }
    /*About Me Section*/
    .sib__aboutme__section {
        .sectionbgshape.one {
            bottom: 5%;
            height: 280px;
            width: 280px;
        }
        .sectionbgshape.two {
            top: 0;
            height: 240px;
            width: 240px;
        }
        .wrapper .info .item {
            width: 70%;
        }
    }
    /*Skills Section*/
    .sib__skills__section {
        padding: 80px 0;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    section {
        margin-top: 100px;
    }
    /*Header*/
    .sb__header .wrapper,
    .sb__header .wrapper nav {
        gap: 50px;
    }
    /*Hero Section*/
    .sib__hero__section {
        height: 650px;
        .content {
            h3 {
                font-size: 42px;
                line-height: 120%;
                margin-bottom: 18px;
            }
            h1 {
                font-size: 116px;
            }
            .cta__buttons {
                margin-top: 30px;
            }
        }
    }
    /*About Me Section*/
    .sib__aboutme__section {
        .sectionbgshape.one {
            bottom: 5%;
        }
        .sectionbgshape.two {
            top: 0;
            height: 280px;
            width: 280px;
        }
        .wrapper .info .item {
            width: 65%;
        }
    }
    /*Skills Section*/
    .sib__skills__section {
        padding: 90px 0;
    }
}